<h1>Crear nuevo restaurante</h1>
<%= simple_form_for(@restaurant) do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :category %>
  <%= f.submit "Crear Restaurante", class: "btn btn-primary" %>
<% end %>